@import url(font.css);
@import url(theme.css);
@import url("utilities.css");

:root {
  --primary-color: #007782;
  --primary-color-hover: #097a85;
  --bg-search: #edf2f2;
  --button-over: #fbfcfc;
  --button-red: #d63638;
  --button-red-hover: #b32d2e;
  --bg-hover: #fafafb;
  --font-color-prim: #14191a;
  --font-color-home-product: #5a6566;
}

body {
  font-family: "V_Inter_Regular_375";
  font-size: 16px;
}

h2 {
  font-family: "V_Inter_Semibold_580";
  font-size: 1.37rem;
}

button {
  cursor: pointer;
}

header {
  height: 70px;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 3000;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.container,
.filtres {
  display: flex;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

header .container {
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  max-width: 1220px;
  width: 100%;
  margin: 20px auto;
}

.nav-header {
  display: flex;
  gap: 15px;
}

.help,
.country,
.login,
.sell-article,
.logout {
  border: none;
  background-color: white;
  cursor: pointer;
}

.login,
label[for="picture"] {
  color: var(--primary-color);
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.login:hover {
  background-color: var(--button-over);
}
.logout {
  color: white;
  background-color: var(--button-red);
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.logout:hover {
  background-color: var(--button-red-hover);
}

.sell-article {
  background-color: var(--primary-color);
  color: white;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.sell-article:hover {
  background-color: var(--primary-color-hover);
}

.search {
  background-color: var(--bg-search);
  border-radius: 10px;
  border: none;
  flex: 1;
  height: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.search input:focus-visible {
  border: none;
}

.search input {
  font-size: 1.2rem;
  border: none;
  background-color: #edf2f2;
  width: 100%;
  color: rgb(142, 141, 141);
}

/* Home */

.hero {
  height: 600px;
  margin-bottom: 50px;
}

.hero img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* Filtres */

.filtres {
  display: flex;
  flex-direction: row;
  align-items: self-end;
  gap: 80px;
  margin-bottom: 30px;
  width: 100%;
  min-height: 50px;
  height: auto;
}
.filtres > div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.filtres .sort-price {
  font-family: "V_Inter_Regular_375";
  background-color: var(--bg-search);
  border-radius: 20px;
  padding: 8px 12px;
  border: 1px solid lightgrey;
  cursor: pointer;
}

input[type="range"] {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Products */

.products {
  display: flex;
  flex-direction: column;
}

/* Le conteneur flex */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 17px;
}

/* Chaque carte produit : 5 par ligne */
.product {
  width: calc((100% - 68px) / 5); /* 4 gaps × 10px = 40px */
  margin-bottom: 30px;
  text-decoration: none;
  color: inherit;
  flex-shrink: 0;
}

.product img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  flex-shrink: 0;
}

.product span {
  font-size: 0.76rem;
  color: var(--font-color-home-product);
}

.product_desc {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Offer */

.offer {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  margin-top: 50px;
}

.info {
  margin-bottom: 15px;
}

.pictures {
  display: flex;
  gap: 15px;
  flex: 2;
  align-items: flex-start;
}

.pictures img {
  border-radius: 5px;
}

.main_picture {
  width: 100%;
  flex: 3;
}

.thumb_picture {
  gap: 15px;
  align-items: flex-start;
}

.pictures .thumb_picture {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.thumb_picture img {
  width: 190px;
  height: calc(100%-30px) / 3;
  object-fit: cover;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}
.product_info,
.user-info {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.info-details {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.price span:last-child {
  color: var(--primary-color);
}

.priceTax {
  color: var(--primary-color);
  font-family: "V_Inter_Medium";
  font-weight: 500;
  font-size: 1.1rem;
}

.product_detail {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  gap: 5px;
  margin-bottom: 10px;
}

.brand,
.size,
.etat,
.couleur,
.date {
  display: flex;
  justify-content: space-between;
}

.product_info .description {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.product_actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product_actions button:not(:first-child) {
  color: var(--primary-color);
  height: 44px;
  padding: 0 16px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-weight: 500;
  font-family: "V_Inter_Medium";
  font-size: 1.1rem;
  background-color: white;
}

.product_actions .sell-article {
  height: 44px;
  padding: 0 16px;
  font-weight: 500;
  font-family: "V_Inter_Medium";
  font-size: 1.1rem;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.user-info p {
  font-weight: bold;
}

.user-info img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

/* Signup */

section.container {
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 500px;
  margin-top: 50px;
}

section.container h2 {
  margin: 35px 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

form input:not([type="range"]),
textarea {
  margin-bottom: 56px;
  border: none;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 8px;
  outline-width: 0;
}

input:focus-visible {
  outline: none;
  border-bottom: 1px solid rgb(85, 85, 85);
}

input::placeholder {
  font-size: 1.2rem;
  color: rgb(161, 161, 161);
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-family: "V_Inter_Medium";
  font-size: 1.3rem;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--primary-color-hover);
}

section.container p {
  font-size: 1.18rem;
  text-align: center;
  margin-bottom: 30px;
}

section.container p span {
  color: var(--primary-color);
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
  cursor: pointer;
}

/* Publish */

#picture {
  display: none;
}

section.publish label {
  margin-bottom: 10px;
}
section.publish label:last-child() {
  margin-bottom: 20px;
}

label[for="picture"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}
